@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #101820FF;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEE715FF;
    font-weight: 700;
}

.heading {
    margin: auto, 0;
    text-align: center;
    margin-bottom: 2rem;

}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #FEE715FF;
    border-radius: 5px;
}

.hour {
    padding: 7px;
    background-color: #101820FF;
    border-radius: 5px;
}

.min {
    padding: 7px;
    background-color: #101820FF;
    border-radius: 5px;
}

.sec {
    padding: 7px;
    background-color: #101820FF;
    border-radius: 5px;
}
.dot{
    color:#101820FF;
    
}
.AMPM{
   color: #101820FF;
   
}